In [2]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statistics as st

In [10]:
# reading the csv file
df= pd.read_csv('Iris (3).csv')

In [11]:
# to print the first 10 val
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [12]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [13]:
np.unique(df['Species'])

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [14]:
df.mean()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24700\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Id               75.500000
SepalLengthCm     5.843333
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [15]:
# Finding the mean for species on SepalWidth using groupby from pandas
sepal_width = df.groupby("Species")["SepalWidthCm"].mean()
print(sepal_width)

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64

In [17]:
# Finding the mean for species on SepalLength using groupby from pandas
sepal_length = df.groupby("Species")["SepalLengthCm"].mean()
print(sepal_length)

Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [20]:
df.median()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24700\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Id               75.50
SepalLengthCm     5.80
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [18]:
# Finding the median for species on PetalWidth using groupby from pandas
petal_width_median = df.groupby("Species")["PetalWidthCm"].median()
print(petal_width_median)

Species
Iris-setosa        0.2
Iris-versicolor    1.3
Iris-virginica     2.0
Name: PetalWidthCm, dtype: float64

In [19]:
# Finding the minimum for species on PetalLength using groupby from pandas
petal_length_min = df.groupby("Species")["PetalLengthCm"].min()
print(petal_length_min)

Species
Iris-setosa        1.0
Iris-versicolor    3.0
Iris-virginica     4.5
Name: PetalLengthCm, dtype: float64

In [21]:
# Finding the maximum for species on PetalWidth using groupby from pandas
petal_width_max = df.groupby("Species")["PetalLengthCm"].max()
print(petal_width_max)

Species
Iris-setosa        1.9
Iris-versicolor    5.1
Iris-virginica     6.9
Name: PetalLengthCm, dtype: float64

In [23]:
# Finding the standard deviation for species on PetalLength using groupby from pandas
petal_length_std = df.groupby("Species")["PetalLengthCm"].std()
print(petal_length_std)

Species
Iris-setosa        0.173511
Iris-versicolor    0.469911
Iris-virginica     0.551895
Name: PetalLengthCm, dtype: float64

In [24]:
df.min()

Id                         1
SepalLengthCm            4.3
SepalWidthCm             2.0
PetalLengthCm            1.0
PetalWidthCm             0.1
Species          Iris-setosa
dtype: object

In [25]:
df.max()

Id                          150
SepalLengthCm               7.9
SepalWidthCm                4.4
PetalLengthCm               6.9
PetalWidthCm                2.5
Species          Iris-virginica
dtype: object

In [26]:
df.std()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_24700\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Id               43.445368
SepalLengthCm     0.828066
SepalWidthCm      0.433594
PetalLengthCm     1.764420
PetalWidthCm      0.763161
dtype: float64

In [27]:
# Using statistics library for fidning standard deviations
sd2 = st.stdev(df["SepalWidthCm"])
print(sd2)

0.43359431136217363

In [28]:
# Finding the occurence
# value_counts() returns a Series containing counts of unique values
occurence = df["Species"].value_counts()
print("Occurence is:", occurence)

Occurence is: Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [29]:
# Percentiles
Q1 = df['SepalWidthCm'].quantile(0.25)
Q3 = df['SepalWidthCm'].quantile(0.75)
print("25 percentile:", Q1)
print("75 percentile", Q3)

25 percentile: 2.8
75 percentile 3.3